.wrapper{
    display: flex;
    position: relative;
}
.wrapper1 .main_content{
    width: 70%;
    margin-left: 350px;
} 
.wrapper .main_content .info{
    margin: 20px;
    line-height: 25px;
}
.wrapper .main_content .info div{
    margin-bottom: 20px;
}
.info{
    border-radius: 10px 0 10px 10px;
    background: linear-gradient(180deg, rgba(6,2,71,0.7) 0%, rgba(92,8,78,0.7) 91%);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
}

.box_stat{
    display: flex;
    justify-content: center;
}
.histoire_perso{
    padding: 7% 5%;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 5% 5% 2%;
    background: rgba(255,255,255,0.2);
    position: relative;
    color: #fff;
    background-image: url(../../assets/back_header.png);
    background-repeat: no-repeat;
}

.box_stat_title{
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #dcdcdc;
}

.box_stat_value{
    font-size: 130%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
    color: #fff;
}
.box_stat_ligne{
    display: flex;
}
.box_stat_hp{
    height: 3px;
    width: 50%;
    background: linear-gradient(90deg, rgb(55, 250, 55) 23%, transparent 23%),linear-gradient( 90deg, rgb(55, 210, 55) 48%, transparent 48%),linear-gradient( 90deg, rgb(55, 170, 55) 73%, transparent 73%),linear-gradient( 90deg, rgb(55, 130, 55) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.box_stat_mp{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(35, 250, 235) 23%, transparent 23%),linear-gradient( 90deg, rgb(35, 210, 235) 48%, transparent 48%),linear-gradient( 90deg, rgb(35, 170, 235) 73%, transparent 73%),linear-gradient( 90deg, rgb(35, 130, 235) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.box_stat_atk{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(235, 70, 35) 23%, transparent 23%),linear-gradient( 90deg, rgb(195, 60, 35) 48%, transparent 48%),linear-gradient( 90deg, rgb(155, 50, 35) 73%, transparent 73%),linear-gradient( 90deg, rgb(115, 40, 35) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.box_stat_matk{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(240, 200, 25) 23%, transparent 23%),linear-gradient( 90deg, rgb(210, 185, 25) 48%, transparent 48%),linear-gradient( 90deg, rgb(180, 170, 25) 73%, transparent 73%),linear-gradient( 90deg, rgb(150, 155, 25) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}   

.box_stat_def{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(180, 10, 240) 23%, transparent 23%),linear-gradient( 90deg, rgb(160, 10, 200) 48%, transparent 48%),linear-gradient( 90deg, rgb(140, 10, 160) 73%, transparent 73%),linear-gradient( 90deg, rgb(120, 10, 120) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.box_stat_mdef{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(200, 10, 145) 23%, transparent 23%),linear-gradient( 90deg, rgb(180, 10, 105) 48%, transparent 48%),linear-gradient( 90deg, rgb(160, 10, 65) 73%, transparent 73%),linear-gradient( 90deg, rgb(140, 10, 25) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.box_stat_crit{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(235, 150, 15) 23%, transparent 23%),linear-gradient( 90deg, rgb(195, 120, 15) 48%, transparent 48%),linear-gradient( 90deg, rgb(155, 90, 15) 73%, transparent 73%),linear-gradient( 90deg, rgb(115, 60, 15) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.box_stat_spd{
    height: 3px;
    width: 50%;
    background: linear-gradient( 90deg, rgb(240, 200, 25) 23%, transparent 23%),linear-gradient( 90deg, rgb(210, 185, 25) 48%, transparent 48%),linear-gradient( 90deg, rgb(180, 170, 25) 73%, transparent 73%),linear-gradient( 90deg, rgb(150, 155, 25) 95%, transparent 95%),linear-gradient( 90deg, rgb(233, 72, 247) 98%, #fff 100%);
}

.table_box_stat{
    width: 30%;
    padding:20px 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0,0,0,0.3);
    margin-right: 20px;
}

.histoire{
    width: 30%;
}

.box_atk1_mp{
    border: 2px solid#DDCAFF;
    box-shadow: 1px 1px 5px 1px#4642EF;
    color: #fff;
    margin-top: 5px;
    padding: 1px 15px;
    background: rgba(255,255,255,0.2);
    width: 98%;
}


.box_atk1_description{
    background: linear-gradient(to right, rgba(137, 58, 153, 0.5) 50%, rgba(213, 208, 146, 0.5) 50%);
    background-position: left bottom;
    transition: all 1s ease;
    background-size: 200%;
    border: 2px solid#CA51F5;
    box-shadow: 1px 1px 5px 1px#4642EF;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
}

.box_atk1_img_atk{
    display: flex;
}

.box_atk1_img{
    transition: all 1s ease;
    background-size: 200%;
    border: 2px solid#CA51F5;
    box-shadow: 1px 1px 5px 1px#4642EF;
    justify-content: center;
    align-items: center;
    border-radius: 6px 0px 0px 0px ;
    margin-right: 5px;
}
.perso_atk_img{
    width: 60px;
}

.perso_atk_img_div{
    width: 60px;
    padding: 5px;
}

.box_atk1_name_description{
    width: 100%;
}

.box_atk1_name{
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    padding: 2px 20px;
    border-radius: 0 6px 0 0;
    width: 80%;
}
.box_atk1_name_p{
    margin: 0%;
    padding: 0%;
}

.box_atk1{
    margin-top: 20px;
}

.box_title{
    min-height: 50px;
    background: linear-gradient(90deg, rgba(63,94,251,0.5) 0%, rgba(148,14,196,0.5) 61%, rgba(138,81,252,0.5) 92%);
    color: #fff;
    text-align: left;
    font-size: 20px;
    padding: 1.5% 2% 1% 2%;
}

.box_personage{
    display: flex;
    justify-content: center;
}

.box_info_title{
    width: 40%;
    margin-right: 20px;
}
.box_atk{
    width: 40%;
}

.box_img{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box_img_img{
    width: 85%;
}

.box_arme_img{
    width: 80px;
}

.box_arme{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box_arme_title{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.315);
}