.wrapper{
    display: flex;
    position: relative;
}
.wrapper1 .main_content{
    width: 70%;
    margin-left: 350px;
} 
.wrapper .main_content .info{
    margin: 20px;
    line-height: 25px;
}
.wrapper .main_content .info div{
    margin-bottom: 20px;
}